*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #bbc6fa;
.quotebox{
    background: white;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    /*padding tag is used to make a internal boder other than the actuall border (like internal invisible margin)*/
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}
